<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/styles/landing.css">
        <title>Carte interactive</title>
    </head>
    <body>
        <iframe id="map"src="/map"></iframe>

        <div id="integrate">
            Intégrer la carte :
            <code>
                &#x3C;iframe src=&#x22;https://position-sng.arthaud.dev/map&#x22;&#x3E;&#x3C;/iframe&#x3E;
            </code>
        </div>
    </body>
    </html>